/* #bulb{
    height: 300px;
    width:300px;
    border: 50px solid black;
    border-radius: 1000px ;
    background-color: yellow;
}
#btn1{
    padding: 10px 30px;
    font-size: 20px;
    margin: 80px;
}
#btn2{
    padding: 10px 30px;
    font-size: 20px;
    margin: 80px;
} */